ul.social-network{
    list-style: none;
    padding: 0;
}
 ul.social-network li{
     display: inline;
     margin: 0;
     padding:5px ;
 }  

 .fa{
     font-size: 35pt;
     color: white;
     padding: 10px;
 }

 .fa-linkedin-square:hover{
     color:#378fe9;
 }
 .fa-instagram:hover {
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

 .fa-github-square:hover{
     color: #171515 ;
 }
 .bg-site{
     background-color: #353b48;
 }
 .bg-copy{
     background-color: #2f3640;
 }